* {
  padding: 0;
  margin: 0;
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro",
    "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}
a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon_nomral:hover {
  color: #b7b7b7;
}
.icon_nomral {
  color: #fff;
  font-size: 22px;
}
.nav {
  width: 100vw;
  height: 44px;
  background-color: #313131;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#checkboxMenu,
#checkboxClosed,
#searchInput,
#searchCancel {
  display: none;
}

/* 
    中间部分
*/

.center {
  width: 100vw;
}

.center .conten {
  width: 100vw;
}
.conten ul {
  max-width: 100vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.conten ul li{
  max-width: 100vw;
  width: 100%;
}
.conten ul .fs_li {
  max-width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

.conten ul .fs_li h2 {
  max-width: 90vw;
  width: 100%;
  text-align: center;
  color: #111;
  font-style: normal;
  margin-bottom: 1vh;
}
.conten ul .fs_li h3 {
  max-width: 90vw;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: #111;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  margin-bottom: 2vh;
}
.buy_link {
  max-width: 100vw;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy_link a {
  max-width: 100vw;
  color: #0070c9;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy_link a:hover {
  text-decoration: underline !important;
}
.buy_link a svg {
  color: #0070c9;
}

.sm_letter {
  font-size: 24px;
}
.border_letter {
  border: 2px solid #111;
  border-radius: 6px;
}

/* 
    第二个li
*/

.conten ul .shop_title {
  max-width: 100vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  color: #111;
}

.conten ul .shop_title h2 {
  max-width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.conten ul .shop_title h3 {
  max-width: 90vw;
  text-align: center;
  line-height: 30px;
  color: #111;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  margin-bottom: 2vh;
}

.border_letter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center .shop_list_sm {
  max-width: 100vw;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: -200px;
}
.center .shop_list_sm .list_img_sm {
  width: 50%;
}


.list_img_sm  h3 {
  max-width: 90vw;
  padding-top: 2vh;
  box-sizing: border-box;
  text-align: center;
  color: #111;
  font-style: normal;
  padding-bottom: 1vh;
}
.list_img_sm h4 {
  max-width: 90vw;
  text-align: center;
  color: #111;
  font-style: normal;
  font-weight: 100;
}
.list_img_sm a {
  max-width: 90vw;
  padding-top: 2vh;
  display: block;
  text-align: center;
  color: #0070c9;
  font-style: normal;
}
.list_img_sm .view:hover {
  text-decoration: underline !important;
}

/* 
foot 部分
*/

.footer{
  margin-top: 2vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #333;
}

.foot_note {
  padding-top: 2vh;
  font-size: 12px;
  font-weight: lighter;
  color: #888888;
  max-width: 90vw;
}
.foot_note a {
  text-decoration: none;
}
.foot_note a:hover {
  text-decoration: underline !important;
}

.foot_nav{
  display: flex;
  width: 100%;
  max-width: 90vw;
  border-top: 1px solid #888;
  margin-top: 2vh;
}

.list_box{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  align-items: left;
  justify-content: space-between;
}
.nesting{
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}
.margin_top{
  margin-top: 2vh;
}
.info_list li h3{
  color: #333;
  font-size: 12px;
  font-style: normal;
  padding-bottom: 1vh;
}
.info_list li a{
  text-decoration: none;
  font-size: 12px;
  color: #555;
}
.info_list li a:hover{
  text-decoration: underline !important;
}