.sm_hidden{
    display: none !important;
}
.xs_hidden{
    margin: 0 auto;
    text-align: center;
    height:100%;
    width: 90vw;
    /* max-width: 1000px; */
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.xs_hidden li{
    flex: 1;
}
.xs_hidden li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.xs_hidden li a:hover{
    color: #b7b7b7;
}

/* 
    中间部分
*/



.conten ul .fs_li h2{
    /* min-width: 1000px; */
    font-size: 32px;
}
.conten ul .fs_li h3{
    /* max-width: 500px; */
    font-size: 20px;
}

.buy_link a{
    font-size: 20px;
}

.buy_link a svg{
    font-size: 14px;
}

.border_letter span{
    font-size: 20px;
}
.border_letter{
    width: 26px;
    height: 26px;
}
.conten ul .shop_title h2{
    font-size: 42px;
}
.conten ul .shop_title h3{
    font-size: 22px;
}
.th_li h3{
    /* max-width: 600px; */
}
.sec_li .bg_img{
    max-width: 100%;
    width: 865px;
    height: 471px;
    background-size: 865px 471px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/cn/home/images/heroes/spring-iphone-xr/iphone_xr__b0z59ak0bqdy_largetall.jpg);
}
.th_li .bg_img{
    max-width: 100%;
    width: 950px;
    height: 390px;
    background-size: 950px 390px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/ej/images/heroes/iphone-xs/main__bmngiblug0mq_largetall.jpg);
}

.fou_li .bg_img{
    overflow: auto;
    max-width: 100%;
    width: 2560px;
    height: 736px;
    background-size: 2560px 736px;
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-position-x: center;
    background-image: url(https://www.apple.com/v/home/ej/images/heroes/mac-pro/hero__dvsxv8smkkgi_largetall.jpg);
}

.center .shop_list_sm .list_img_sm {
    height: 580px;
  }
  .list_img_sm:nth-child(1) {
    max-width: 100%;
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/cn/home/images/promos/ios-13/tile__cauwwcyyn9hy_large.jpg);
    background-position: center center;
  }
  .list_img_sm:nth-child(2) {
    max-width: 100%;
      width: 1262px;
      height: 580px;
      background-size: 1262px 580px;
      background-repeat: no-repeat;
      background-image: url(https://www.apple.com/cn/home/images/promos/ipados/tile__cauwwcyyn9hy_large.jpg);
      background-position: center center;
  }
  .list_img_sm:nth-child(3) {
    max-width: 100%;
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/cn/home/images/promos/macos/tile__cauwwcyyn9hy_large.jpg);
    background-position: center center;
  }
  .list_img_sm:nth-child(4) {
    max-width: 100%;
    width: 541px;
    height: 366px;
    background-size: 541px 366px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/cn/home/images/promos/watchos/watchos6-tile_large.jpg);
    background-position: center bottom;
  }
  .list_img_sm:nth-child(5) {
    max-width: 100%;
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/ej/images/promos/pro-display-xdr/tile__cauwwcyyn9hy_large.jpg);
    background-position: center center;
  }
  .list_img_sm:nth-child(6) {
    max-width: 100%;
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/cn/home/images/promos/wwdc/robot__b7z1041k7guq_large.png);
    background-position: center center;
  }
  
  .list_img_sm  h3 {
    font-size: 40px;
  }
  .list_img_sm h4 {
    font-size: 18px;
  }
  .list_img_sm a {
    font-size: 16px;
  }
  .list_img_sm a svg {
    font-size: 14px;
  }